
.icon-temperatire:before { content: '\e800'; } /* '' */
.icon-adjust:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e802'; } /* '' */
.icon-move:before { content: '\e803'; } /* '' */
.icon-lamp:before { content: '\e805'; } /* '' */
.icon-lightbulb-1:before { content: '\e806'; } /* '' */