
.icon-temperatire:before { content: '\e800'; } /* '' */
.icon-tint:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e802'; } /* '' */
.icon-thermometer:before { content: '\e803'; } /* '' */
.icon-lightbulb:before { content: '\e804'; } /* '' */
.icon-lamp:before { content: '\e805'; } /* '' */
.icon-lightbulb-1:before { content: '\e806'; } /* '' */