#login {
    margin-top: 50px;
}
.thumbnail-user {
    margin: 10px 20px;
    padding: 0;
    width: 35px;
    height: 35px;
}
.sidebar ul li a {
    color: #2196f3;
}
.sidebar ul li:last-child {
    margin-bottom: 20px;
}
i {
    font-size: 12vw;
}
.icon-legend {
    font-size: 2vw;
}
.nav-pills li.active a {
    color: #fff;
    background-color: #2196f3;
}