#login {
    margin-top: 50px;
}
.thumbnail-user {
    margin: 10px 20px;
    padding: 0;
    width: 35px;
    height: 35px;
}
nav#sidebar ul li:last-child {
    margin-bottom: 20px;
}
i {
    font-size: 12vw;
}
.icon-legend {
    font-size: 2vw;
}