#login {
    margin-top: 50px;
}
.alert {
    margin-top: -15px;
}
.thumbnail-user {
    margin: 10px 20px;
    padding: 0;
    width: 35px;
    height: 35px;
}
.sidebar ul li a {
    color: #151515;
}
.sidebar ul li:last-child {
    margin-bottom: 20px;
}
.main-icons a:active {
    text-decoration: none;
}
i {
    font-size: 8vw;
    color: #2196f3;
}
.icon-button {
    text-decoration: none;
    text-transform: none;
}
.icon-button a:active {
    text-decoration: none;
}
.icon-button a:hover {
    text-decoration: none;
}
.icon-button a:focus {
    text-decoration: none;
}
.icon-legend {
    font-size: 2vw;
    color: #151515;
}
.nav-pills li.active a {
    color: #fff;
    background-color: #2196f3;
}
.temp-blue {
    color: #2196f3;
}
.temp-yellow {
    color: #ffe927;
}
.temp-red {
    color: #f55549;
}